body {
  text-align: center;
  background-color: #242738;
  overflow-y: unset;
}
.switchMode {
  text-align: center;
  padding: 10px 20px;
  background-color: #707788;
  border: 1px solid #707788;
  border-radius: 20px;
  font-family: "Bungee", cursive;
  margin-top: 30px;
  color: #242738;
  font-weight: bold;
  font-size: 30px;
  width: 250px;
}

.switchMode:hover {
  cursor: pointer;
  opacity: 0.7;
}
.score {
  font-family: "Bungee", cursive;
  color: #707788;
  font-size: 40px;
}

.container {
  margin: 0 auto;
  justify-content: center;
  width: 900px;
}

.title {
  font-family: "Bungee", cursive;
  color: #707788;
  font-size: 40px;
}

.credit {
  font-size: 10px;
  font-family: "Bungee", cursive;
  color: #707788;
}
